@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

/* Your comment goes here */

body {
    font-family: arial;
    width: 100%;
    margin: 0px;
}

#headerimage{
    width: 100%;
    hight: auto;
    opacity: 0.5;
}

.allergen {
    font-weight: bold;
}

#orderinfo {
    color: white;
    background: #1f3d7a;
}

button {
    margin: 30px 30px 30px 0px;
}

button:hover {
    background: gray;
    cursor: pointer;
}



section {
    margin: 100px auto;
    width:90%;
    padding: 10px;
    border: 2px dashed black;
}

h1 {
    position: absolute;
    hight: 500px;
    top: 15%;
    left: 25%;
    opacity: 1;
    font-family: 'Merienda', cursive;
    font-size: 30px;
               
}

header {
    hight: 500px;
}

.wrapper {
     display: grid;
     grid-gap: 3%;
     grid-template-columns: 30% 30% 30%;
     background-color: white;
     color: black;
 }

 .box {
     background-color: white;
     color: black;
     border-radius: 5px;
     padding: 20px;
     font-size: 150%;
     width: 100%;
     overflow: hidden;
              

 }

 .thor {
     grid-column: 1;
     
 }
 
 .guardian {
     grid-column: 2 ;
 }
 
 .clark {
     grid-column: 3;
 }


 .dwarf {
     grid-column: 1 ;
     grid-row: 2 ;
 }

 .hood {
     grid-column: 2 ;
     grid-row: 2 ;
 }

 

.view-box {
    width: 90%;
    height: 50vh;
    margin: 1em auto;
    overflow: scroll;
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
#dots {
    position: relative;
    margin: 0;
    padding: 0;
    background: url(/img/polacks.jpg);
    background-repeat: no-repeat;
    width:1920px;
    height: 1078px;
    cursor: crosshair;
}

#dots div {
    position: absolute;
    background: black;
    color: white;
    border-radius: 10px;
    width:20px;
    height:20px;
    text-align: center;
}

#orderList {
    top:1em;
    left:1em;
    position: absolute;
    z-index: 2;
    color:black;
    background: rgba(255,255,255, 0.5);
    padding: 1em;
}
